<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charles.crazyguy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".CrazyGuyApplication"
        android:allowBackup="true"
        android:icon="@drawable/crazy_boy_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/round_crazy_boy_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CrazyGuyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DragBarActivity">
            <intent-filter>
                <action android:name="com.charles.action.canvas" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CustomGradientActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.charles.action.custom.gradient" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SurfaceActivity">
            <intent-filter>
                <action android:name="com.charles.action.surface" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PlayVideoActivity">
            <intent-filter>
                <action android:name="com.charles.action.playvideo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>